<div class="flex flex-col h-dvh">

    <!-- header -->
    <header class="header sticky top-0 z-200" app-header></header>

    <!-- body -->
    <main class="flex flex-1 overflow-hidden">

        <!-- sidebar -->
        <div class="h-full relative md:pl-0 pl-[3rem]" app-sidebar></div>

        <!-- body content -->
        <div class="flex-1 overflow-y-scroll app-content-area">
            <div class="max-w-[68rem] min-h-full m-auto p-5">
                <router-outlet></router-outlet>
            </div>
        </div>
        
    </main>

    <!-- footer -->
    <footer class="text-center bg-black text-white text-xs px-3 py-2 relative" >
        © 2026 Vertex Global Soutions. All rights reserved.
    </footer>

</div>