/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

.flex-c-sb {
    @apply flex justify-between items-center;
}

.section-separator {
    border-bottom: 0;
    border-top: 1px solid #c5c2c2;
}

button.btn {
    @apply bg-blue-600 px-5 py-2 text-white text-base hover:opacity-[0.8] cursor-pointer rounded-sm;
}

.empty-table {
    @apply text-center! py-10!;
}