@use "tailwindcss";

.table-wrapper {
    border: 1px solid #ddd;
    @apply sm:rounded-[10px] rounded-lg;
}

.table {
    @apply sm:text-base text-sm w-full bg-white;
    min-width: max-content;
    border-collapse: collapse;

    thead {
        background: #004c646b;
    }

    tbody tr:hover {
        background-color: #5a00ff12;
    }

    th,
    td {
        border-bottom: 1px solid #ddd;
        padding: 10px 1rem;
        text-align: left;
    }

    .batch {
        text-align: center;
    }

    span {
        text-transform: capitalize;
        padding: 4px 16px;
        border-radius: 50px;
        font-size: 78%;
        color: white;

        &[data-status="active"] {
            background-color: #28a745;
        }

        &[data-status="inactive"] {
            background-color: #dc3545;
        }
    }
}

.table-bottom-btn {
    @apply w-full rounded-none bg-[#714efff7];
}