<div class="mb-4 flex justify-between items-center">

    <!-- table component head part -->
    <h2 class="sm:text-2xl text-xl font-extrabold">{{tableLabel()}}</h2>

    @if(headerButtonLabel()) {
        <button class="btn" (click)="headerButtonActionClicked.emit()">{{headerButtonLabel()}}</button>
    }

    <ng-content select="[th-action-area]"></ng-content>

</div>

<!-- content between table head part and table -->
<ng-content select="[th-content-area]"></ng-content>

<!-- Table area -->
<div class="w-full overflow-hidden table-wrapper">
    <div class="w-full overflow-auto">

        <table class="table table-auto overflow-x-scroll">

            <thead>
                <tr>
                    @for(tableHeader of tableHeaders(); track tableHeader) {
                    <th [class]="isTuple(tableHeader) ? tableHeader[1] : ''">
                        {{ isTuple(tableHeader) ? tableHeader[0] : tableHeader }}
                    </th>
                    }
                </tr>
            </thead>

            <tbody class="table-body">
                @for(data of tableData(); track $index; let i = $index) {
                <tr>
                    @for(item of tableDataSequence(); track item) {
                    <td [class]="isTuple(item) ? item[1] : ''">
                        <!-- if item = '#', display index(i+1), 
                                else check if it's tuple then display 0th index 
                                or if it's string then display item itself -->
                        {{ item === "#" ? 
                                i+1 : 
                                ( 
                                    isTuple(item) ? ( 
                                        item[0] === "#" ? i+1 : data[item[0]]
                                    ) : 
                                    data[item] ?? resolveObject(item, data)
                                )
                        }}
                    </td>
                    }
                </tr>
                } @empty {
                <tr>
                    <td [attr.colspan]="tableHeaders().length" class="empty-table">
                        {{emptyTableMessage()}}
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    @if(pagination()) {
        <div class="flex justify-end w-full gap-3 text-gray-500 text-sm px-3 py-4">
            <div>
                <label for="">Items per page: </label>
                <select name="" id="">
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>

            <div class="flex gap-2 me-3">
                <button class="cursor-pointer">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <span>0 of 0</span>
                <button class="cursor-pointer">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>        
        </div>
    }

    <!-- table bottom button -->
    @if(tableButtonLabel() && tableData().length) {
        <button class="btn table-bottom-btn" (click)="tableButtonActionClicked.emit()">{{tableButtonLabel()}}</button>
    }

</div>